<h1>{{title}}</h1>
<h2>Click on the movie to check the showtimes!</h2>
<hr>
<div>
    {{#each moviesFromDB}}
    <img src={{image}} alt="movie poster">
    <p>{{title}}</p>
    <a href="/movies/{{id}}">See more</a>
    {{/each}}
</div>